**1.Write a Python program to print "Hello Python".**

In [ ]:
print('Hello python')

Hello python

**2.Write a Python program to do arithmetical operations addition and division.**

In [ ]:
num1=float(input('Enter number 1'))
num2=float(input('Enter number 2'))
print(f'Addition {num1 + num2}')

if num1>num2:
  print(f'Division {num1/num2}')
else:
  print(f'Division {num2/num1}')

Enter number 110
Enter number 25
Addition 15.0
Division 2.0

**3.Write a Python program to find the area of a triangle.**

In [ ]:
height=int(input('Enter height '))
base=int(input('Enter base '))
area=0.5*base*height
print(f'Area of triangle {area}')

Enter height 12
Enter base 3
Area of triangle 18.0

**4.Write a Python program to swap two variables.**

In [ ]:
num1=int(input("Enter number 1 "))
num2=int(input('Enter number 2 '))
print(f'Number 1: {num1}')
print(f'Number 2: {num2}')
temp=num1
num1=num2
num2=temp
print('After swapping')
print(f'Number 1: {num1}')
print(f'Number 2: {num2}')

Enter number 1 10
Enter number 2 5
Number 1: 10
Number 2: 5
After swapping
Number 1: 5
Number 2: 10

**5.Write a Python program to generate a random number.**

In [ ]:
import numpy as np
a=np.random.randint(1,100)
print(a)

66

**6.Write a Python program to convert kilometers to miles.**

In [ ]:
km=float(input('Enter Km '))
miles=km*0.621
print(f'Miles={miles}')

Enter Km 100
Miles=62.1

**7.Write a Python program to convert Celsius to Fahrenheit.**

In [ ]:
celsius=float(input('Enter celsius '))
f=(celsius*(9/5))+32
print(f'Fahrenheit={f}')

Enter celsius 37
Fahrenheit=98.60000000000001

**8.Write a Python program to display calendar.**

In [ ]:
import calendar as c
year=int(input('Enter year: '))
month=int(input('Enter month: '))
cal=c.month(year,month)
print(cal)

Enter year: 2025
Enter month: 5
      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

**9.Write a Python program to solve quadratic equation.**

In [ ]:
#The solutions of this quadratic equation is given by: (−b ± (b^2 − 4ac)^1/2/(2a)
import math
a=int(input('Enter a: '))
b=int(input('Enter b: '))
c=int(input('Enter c: '))
descrimant=b**2-4*a*c
if descrimant>0:
  root1=(-b+math.sqrt(descrimant))/2*a
  root2=(-b-math.sqrt(descrimant))/2*a
  print(f"Root 1={root1}")
  print(f"Root 2={root2}")
elif descrimant==0:
  print(f'Root '-b/(2*a))
else:
  real_part=-b/(2*a)
  imaginary_part=math.sqrt(abs(descrimant))/(2*a)
  print(f'Root 1 :{real_part} + {imaginary_part}i')
  print(f'Root 2 :{real_part} - {imaginary_part}i')

Enter a: 1
Enter b: 4
Enter c: 8
Root 1 :-2.0 + 2.0i
Root 2 :-2.0 - 2.0i

**10.Write a Python program to swap two variables without temp variable.**

In [ ]:
num1=int(input('Enter Number a: '))
num2=int(input('Enter Number b: '))
print(f'a={num1}')
print(f'b={num2}')
num1,num2=num2,num1
print('After swaping')
print(f'a={num1}')
print(f'b={num2}')

Enter Number a: 10
Enter Number b: 5
a=10
b=5
After swaping
a=5
b=10

**11.Write a Python Program to Check if a Number is Positive, Negative or Zero.**

In [ ]:
num=int(input('Enter number '))
if num>0:
  print('Positive number')
elif num==0:
  print('It is 0')
else:
  print('Negative Number')

Enter number 12
Positive number

**12.Write a Python Program to Check if a Number is Odd or Even.**

In [ ]:
num=int(input('Enter Number '))
if num%2==0:
  print(f'{num} is Even Number')
else:
  print(f'{num} is Odd Number')

Enter Number 3
3 is Odd Number

**13.Write a Python Program to Check Leap Year.**

In [ ]:
year=int(input('Enter year: '))

# If year is divided by 100 means century year and century year is divided by 400 is leap year
# If year is divided 4 means leap year

if (year%400==0) and (year%100==0):
  print(f'{year} is leap year')
elif (year%4==0) and (year%100!=0):
  print(f'{year} is leap year')
else:
  print(f'{year} is not leap year')

Enter year: 2024
2024 is leap year

**14.Write a Python Program to Check Prime Number.**

In [ ]:
num=int(input('Enter the number '))

flag=True

for i in range(2,num):
  if num%i==0:
    flag=False
    break
if flag:
  print(f'{num} is Prime number')
else:
  print(f'{num} is not a prime number')

Enter the number 3
3 is Prime number

**15.Write a Python Program to Print all Prime Numbers in an Interval of 1-10.**

In [ ]:
lower=1
upper=10
for i in range(lower,upper+1):
  if i>1:
    for j in range(2,i):
      if i%j==0:
        break
      else:
        print(i)
        break

3
5
7
9

**16.Write a Python Program to Find the Factorial of a Number.**

In [ ]:
num=int(input('Enter Number: '))
fact=1
if num<1:
  print('No factorial for negative numbers')
elif num==0:
  print('Factorial for 0 is 1')
else:
  for i in range(1,num+1):
    fact=fact*i
  print(f'Factorial of {num} is {fact}')

Enter Number: 10
Factorial of 10 is 3628800

**17.Write a Python Program to Display the multiplication Table.**

In [ ]:
num=int(input("Enter the number: "))
if num>1:
  for i in range(1,11):
    print(f'{i} X {num} = {i*num}')

Enter the number: 19
1 X 19 = 19
2 X 19 = 38
3 X 19 = 57
4 X 19 = 76
5 X 19 = 95
6 X 19 = 114
7 X 19 = 133
8 X 19 = 152
9 X 19 = 171
10 X 19 = 190

**18.Write a Python Program to Print the Fibonacci sequence.**

In [ ]:
num=int(input('Enter how many terms: '))
n1,n2=0,1
count=0
if num<0:
  print('Please enter positive number')
elif num==1:
  print(num)
else:
  while count<num:
    nth=n1+n2
    print(n1)
    n1=n2
    n2=nth
    count+=1

Enter how many terms: 10
0
1
1
2
3
5
8
13
21
34

**19.Write a Python Program to Check Armstrong Number?**

In [ ]:
num=int(input('Enter the number: '))
num_str=str(num)
num_len=len(num_str)
temp=num
sum_of_dig=0
while temp>0:
  digits=temp%10
  sum_of_dig+=digits**num_len
  temp//=10
if sum_of_dig==num:
  print(f'{num} is Amstrong number')
else:
  print(f'{num} is not Amstrong number')

Enter the number: 153
153 is Amstrong number

**20.Write a Python Program to Find Armstrong Number in an Interval.**

In [ ]:
lower=int(input('Enter the lower interval: '))
upper=int(input('Enter the upper interval: '))
for i in range(lower,upper+1):
  num_str=str(i)
  num_len=len(num_str)
  sum_of_dig=0
  temp=i
  while temp>0:
    digits=temp%10
    sum_of_dig+=digits**num_len
    temp//=10
  if sum_of_dig==i:
    print(i)

Enter the lower interval: 10
Enter the upper interval: 1000
153
370
371
407

**21.Write a Python Program to Find the Sum of Natural Numbers.**

In [ ]:
lim=int(input('Enter the limit: '))
sum_of_dig=0
for i in range(1,lim+1):
  sum_of_dig+=i
print(f'Sum of limit {lim} is {sum_of_dig}')

Enter the limit: 10
Sum of limit 10 is 55

**22.Write a Python Program to Find LCM.**

In [ ]:
x=int(input('Enter x: '))
y=int(input('Enter y: '))
if x>y:
  greater=x
else:
  greater=y
while(True):
  if(greater%x==0) and (greater%y==0):
    lcm=greater
    break
  greater+=1
print(lcm)

Enter x: 54
Enter y: 24
216

**23.Write a Python Program to Find HCF.**

In [ ]:
x=int(input('Enter the x: '))
y=int(input('Enter the y: '))
if x>y:
  smaller=y
else:
  smaller=x
for i in range(1,smaller+1):
  if(x%i==0) and (y%i==0):
    hcf=i
print(hcf)

Enter the x: 54
Enter the y: 24
6

**24.Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal.**

In [ ]:
num=int(input('Enter the number: '))
print(f'{bin(num)} Binary of the number')
print(f'{oct(num)} Octal of the number')
print(f'{hex(num)} Hexadecimal of the number')

Enter the number: 27
0b11011 Binary of the number
0o33 Octal of the number
0x1b Hexadecimal of the number

**25.Write a Python Program To Find ASCII value of a character.**

In [ ]:
char=str(input('Enter the character: '))
print(f'The ASCII value of {char} is {ord(char)}')

Enter the character: a
The ASCII value of a is 97

**26.Write a Python Program to Make a Simple Calculator with 4 basic mathematical
operations.**

In [ ]:
print('1 for addition')
print('2 for subrtaction')
print('3 for multiplication')
print('4 for division')
op=int(input('Enter the operation to be performed: '))
num1=float(input('Enter 1st number: '))
num2=float(input('Enter 2nd number: '))
if op==1:
  print(f'Addition of {num1} and {num2} is {num1+num2}')
elif op==2:
  if num1>num2:
    print(f'Subtraction of {num1} and {num2} is {num1-num2}')
  else:
    print(f'Subtraction of {num2} and {num1} is {num2-num1}')
elif op==3:
  print(f'Multiplication of {num1} and {num2} is {num1*num2}')
elif op==4:
  if num1>num2:
    print(f'Division os {num1} and {num2} is {num1/num2}')
  else:
    print(f'Divison os {num2} and {num1} is {num2/num1}')
else:
  print('Invalid Input')

1 for addition
2 for subrtaction
3 for multiplication
4 for division
Enter the operation to be performed: 1
Enter 1st number: 2
Enter 2nd number: 2
Addition of 2.0 and 2.0 is 4.0

**27.Write a Python Program to Display Fibonacci Sequence Using Recursion.**

In [ ]:
def rec(n):
  f=(n-1)+(n-2)
  return f
num=int(input('Enter the number: '))

for i in range(num):
  print(rec(i))

**28.Write a Python Program to calculate your Body Mass Index.**

In [ ]:
weight=int(input('Enter the weight: '))
height=float(input('Enter the height in meters: '))
BMI=weight/height**2
print(f'Body mass index {BMI}')

Enter the weight: 70
Enter the height in meters: 1.8
Body mass index 21.604938271604937

**29.Write a Python Program to calculate the natural logarithm of any number.**

In [ ]:
import math
num=int(input('Enter the number: '))
print(f'Logarithm of {num} is {math.log(num)}')

Enter the number: 2
Logarithm of 2 is 0.6931471805599453

**30.Write a Python Program for cube sum of first n natural numbers?**

In [ ]:
num=int(input('Enter the number: '))
total=sum([i**3 for i in range(1,num+1)])
print(f'The sum of first {num} natural numbers are {total}')

Enter the number: 7
The sum of first 7 natural numbers are 784

**31.Write a Python Program to find sum of array.**

In [ ]:
arr=[1,2,3,4,5]
sum=0
for i in arr:
  sum+=i
print(sum)

15

**32.Write a Python Program to find largest element in an array.**

In [ ]:
arr=[1,2,5,3,4]
largest=0
for i in arr:
  if i>largest:
    largest=i
print(largest)

5

**33.Write a Python Program to Split the array and add the first part to the end?**

In [ ]:
arr=[1,2,3,4,5,6]
k=3
first_part=arr[:k]
second_part=arr[k:]
print(arr)
print(f'After Spliting and adding {second_part + first_part}')

[1, 2, 3, 4, 5, 6]
After Spliting and adding [4, 5, 6, 1, 2, 3]

**34.Write a Python Program to Sort Words in Alphabetic Order.**

In [ ]:
my_str=input('Enter the names: ')
words=[word.capitalize() for word in my_str.split()]
words.sort()
for word in words:
  print(word)

Enter the names: shree anusha bhavana lizzy aisha smitha
Aisha
Anusha
Bhavana
Lizzy
Shree
Smitha

**35.Write a Python Program to Remove Punctuation From a String.**

In [ ]:
punctuation='''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_str=input('Enter the string: ')
no_pun=''
for i in my_str:
  if i not in punctuation:
    no_pun=no_pun+i
print(no_pun)

Enter the string: ji%^&th(*&en
jithen

**36.Write a Python program to determine whether the given number is a Harshad
Number**

In [ ]:
def is_harshad_number(number):
    digit_sum = sum(int(digit) for digit in str(number))

    if number % digit_sum == 0:
        return True
    else:
        return False

num = int(input("Enter a number: "))
if is_harshad_number(num):
    print(f"{num} is a Harshad Number.")
else:
    print(f"{num} is NOT a Harshad Number.")

**37.Write a Python program to print all pronic numbers between 1 and 100.**

In [ ]:
for i in range(1,101):
  print(f'{i*(i+1)}')

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450
2550
2652
2756
2862
2970
3080
3192
3306
3422
3540
3660
3782
3906
4032
4160
4290
4422
4556
4692
4830
4970
5112
5256
5402
5550
5700
5852
6006
6162
6320
6480
6642
6806
6972
7140
7310
7482
7656
7832
8010
8190
8372
8556
8742
8930
9120
9312
9506
9702
9900
10100

**38.Write a program to find the sum of element in list.**

In [ ]:
l=[1,2,3,4,5]
sum=0
for i in l:
  sum=sum+i
print(sum)

15

**39.Write a Python program to Multiply all numbers in the list.**

In [ ]:
l=[10,20,30,40,50]
pro=1
for i in l:
  pro*=i
print(pro)

12000000

**40.Write a Python program to find smallest number in a list.**

In [ ]:
l=[3,2,1,5,6,4,0]
k=l[0]
for i in l:
  if i<k:
    smallest=i
print(smallest)

0

**41.Write a Python program to find largest number in a list.**

In [ ]:
l=[1,3,2,4,5]
k=0
for i in l:
  if i>k:
    largest=i
print(largest)

5

**42.Write a Python program to find second largest number in a list.**

In [ ]:
l=[1,2,3,4,5]
l.sort(reverse=True)
print(l[1])

4

**43.Write a Python program to find N largest elements from a list.**

In [ ]:
def largest(l,n):
  l.sort(reverse=True)
  print(l[n])

l1=[1,2,3,4,5,6]
obj=largest(l1,2)

4

**44.Write a Python program to print even numbers in a list.**

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
  if i%2==0:
    print(i)

2
4
6
8
10

**45.Write a Python program to print odd numbers in a List.**

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
  if i%2!=0:
    print(i)

1
3
5
7
9

**46.Write a Python program to Remove empty List from List.**

In [ ]:
list_of_lists = [[1, 2, 3], [], [4, 5], [], [6, 7, 8], []]
l=[]
for i in list_of_lists:
  if i!=[]:
    l.append(i)
print(l)

[[1, 2, 3], [4, 5], [6, 7, 8]]

**47.Write a Python program to Cloning or Copying a list.**

In [ ]:
original=[1,2,3,4,5]
copy=original.copy()
print(copy)

[1, 2, 3, 4, 5]

**48.Write a Python program to Count occurrences of an element in a list.**

In [ ]:
def occ(l,n):
  return l.count(n)
l=[1,2,3,2,4,4,5,1,2,3,5]
print(occ(l,2))

3

**49.Write a Python program to find words which are greater than given length k.**

In [ ]:
word=input('Enter the string: ')
k=5
z=word.split()
for i in z:
  if len(i)>k:
    print(i)

Enter the string: apple banana cherry jit
banana
cherry

**50.Write a Python program for removing i character from a string.**

In [ ]:
def rem(s,i):
  res=s[:i]+s[i+1:]
  print(res)
string='jithen'
obj=rem(string,3)

jiten

**51.Write a Python program to split and join a string.**

In [ ]:
a='program to split the string and join'
x=a.split()
print(f'After splitting :=> {x}')
sep=' '
b=sep.join(x)
print(f'After joining :=> {b}')

After splitting :=> ['program', 'to', 'split', 'the', 'string', 'and', 'join']
After joining :=> program to split the string and join

**52.Write a Python program to check if a given string is binary string or not.**

In [ ]:
s=input('Enter the binary string: ')
for i in s:
  if i not in '01':
    print('Invalid')
  else:
    print(i)

Enter the binary string: 1011
1
0
1
1

**53.Write a Python program to find uncommon words from two Strings.**

In [ ]:
s1='This is first string'
s2='This is second string'
s1=set(s1.split())
s2=set(s2.split())
word=s1.symmetric_difference(s2)
print(word)

{'second', 'first'}

**54.Write a Python program to find all duplicate characters in string.**

In [ ]:
a='jithen shekar'
char_count={}
for i in a:
  if i in char_count:
    char_count[i]+=1
  else:
    char_count[i]=1
for i,count in char_count.items():
  if count>1:
    print(i)

h
e

**55.Write a Python Program to check if a string contains any special character.**

In [ ]:
special_char='!@#$%^&*()'
a='Hello world!'
if i in special_char:
    print('String contain special characters')
else:
    print('String does not contain special characters')

String contain special characters

**56.Write a Python program to Extract Unique dictionary values.**

In [ ]:
dict={
    'a':10,
    'b':20,
    'c':30,
    'd':10,
    'e':20
}
s=set()
for i in dict.values():
  s.add(i)
print(s)

{10, 20, 30}

**57.Write a Python program to find the sum of all items in a dictionary.**

In [ ]:
dict={
    'a':10,
    'b':20,
    'c':30,
    'd':10,
    'e':20
}
sum=0
for i in dict.values():
  sum=sum+i
print(sum)

90

**58.Write a Python program to Merging two Dictionaries.**

In [ ]:
dict1={'a':10,'b':20}
dict2={'c':30,'d':40}
dict1.update(dict2)
print(dict1)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

**59.Write a Python program to convert key-values list to flat dictionary.**

In [ ]:
key_value=[('a',1),('b',2)]
flat_key={}
for key,value in key_value:
  flat_key[key]=value
print(flat_key)

{'a': 1, 'b': 2}

**60.Write a Python program to insertion at the beginning in OrderedDict.**

In [ ]:
d1={'b':20,'c':30}
d2={'a':10}
d2.update(d1)
print(d2)

{'a': 10, 'b': 20, 'c': 30}

**61.Write a Python program to sort Python Dictionaries by Key or Value.**

In [ ]:
d={'a':'apple','b':'banana','c':'cat'}
for key,value in d.items():
  print(f'{key} : {value}')

a : apple
b : banana
c : cat

**62.Write a program that calculates and prints the value according to the given formula**
**Q = Square root of 2CD/H**
**C is 50. H is 30.**
**D is the variable whose values should be input to your program in a comma-separated sequence.**

In [ ]:
import math
D=list(input('Enter the values'))
C=50
H=30
l=[]
for i in D:
  q=math.sqrt(2*C*int(i)/H)
  l.append(str(q))
print(l)

**63.Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.**

In [ ]:
word='without,hello,bag,world'
x=word.split(',')
k=sorted(x)
g=','.join(k)
print(g)

bag,hello,without,world

**64.Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.**

In [ ]:
word='hello world and practice makes perfect and hello world again'
a=set(word.split())
b=sorted(a)
c=','.join(b)
print(c)

again,and,hello,makes,perfect,practice,world

**65.Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:**

In [ ]:
char=input('Enter the letter and digit: ')
letter_count=0
dig_count=0
for i in char:
  if i.isalpha():
    letter_count+=1
  elif i.isdigit():
    dig_count+=1
print(letter_count)
print(dig_count)

Enter the letter and digit: Hello world! 123
10
3

**66.Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.**

In [ ]:
def seven(n):
  for i in range(n+1):
    if i%7==0:
      print(i)
num=int(input("Enter the desired range: "))
obj=seven(num)

Enter the desired range: 50
0
7
14
21
28
35
42
49

**67.Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.**

In [ ]:
class Person:
  def getGender(self):
    print('Unknown')
class Male:
  def getGender(self):
    print('Male')
class Female:
  def getGender(self):
    print('Female')
person=Person()
male=Male()
female=Female()
male.getGender()

Male

**68.Please write a program to compress and decompress the string "hello world!hello world!hello world!hello world!".**

In [ ]:
import zlib
string='"hello world!hello world!hello world!hello world!'
compressed=zlib.compress(string.encode())
de_compress=zlib.decompress(compressed).decode()
print(f'Compressed : {compressed}')
print(f'Decompressed : {de_compress}')

Compressed : b'x\x9cS\xcaH\xcd\xc9\xc9W(\xcf/\xcaIQ$\x86\r\x00\xc3\xde\x12\x17'
Decompressed : "hello world!hello world!hello world!hello world!

**69.Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.**

In [ ]:
res=[]
def cal(n):
  for i in range(n+1):
    if i%5==0 and i%7==0:
      res.append(i)
num=int(input('Enter desired range: '))
obj=cal(num)
print(res)

Enter desired range: 100
[0, 35, 70]

**70.Assuming that we have some email addresses in the "username@companyname.com (mailto:username@companyname.com)" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.**

In [ ]:
def mail(email):
  parts=email.split('@')
  if len(parts)==2:
    return parts[0]

email='jithen@gmail.com'
print(mail(email))

jithen

**71.Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have an area function which can print the area of the shape where Shape's area is 0 by default.**

In [4]:
class Shape:
  def __init__(self):
    pass
  def area(self):
    return 0

class Square(Shape):
  def __init__(self,length):
    self.length=length
  def area(self):
    return self.length**2
num=float(input('Enter the number to find length: '))
shape=Shape()
square=Square(num)
print(f'Shape area by default: {shape.area()}')
print(f'Area of square: {square.area()}')

Enter the number to find length: 5
Shape area by default: 0
Area of square: 25.0

**72.Write a function that stutters a word as if someone is struggling to read it. The first two letters are repeated twice with an ellipsis ... and space after each, and then the word is pronounced with a question mark ?.**

In [5]:
def shutter(w):
  if len(w)<2:
    print('Enter the word which as atleast 5 characters')
  else:
    print(f'{w[:2]}....{w[:2]}....{w}?')

word=input('Enter the word: ')
obj=shutter(word)

Enter the word: incredible
in....in....incredible?

**73.Create a function that takes an angle in radians and returns the corresponding angle in degrees rounded to one decimal place.**

In [8]:
import math
def rad(n):
  degree=n*(180/math.pi)
  print(f'degree : {round(degree,1)}')
r=int(input('Enter the Radian: '))
obj=rad(r)

Enter the Radian: 1
degree : 57.3

**74.In this challenge, establish if a given integer num is a Curzon number. If 1 plus 2 elevated to num is exactly divisible by 1 plus 2 multiplied by num then num is a Curzon number. Given a non-negative integer num, implement function that returns True if num is a Curzon number, or False otherwise.**

In [12]:
def curzon(n):
  num=2**n+1
  dem=2*n+1
  return num%dem==0
num=int(input('Enter the number: '))
print(curzon(num))

Enter the number: 5
True

**75.Given the side length x find the area of a hexagon.**

In [15]:
def area_of_hex(num):
  area=((3*math.sqrt(3)*num**2)/2)
  print(round(area,1))
n=int(input('Enter the number: '))
obj=area_of_hex(n)

Enter the number: 1
2.6

**76.Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.**

In [2]:
def evenly_div(a,b,c):
  total=0
  for i in range(a,b+1):
    if i%c==0:
      total+=i
  return total
a=int(input('Enter a: '))
b=int(input('Enter b: '))
c=int(input('Enter c: '))
obj=evenly_div(a,b,c)
print(obj)

Enter a: 1
Enter b: 10
Enter c: 2
30

**77.Create a function that returns True if a given inequality expression is correct and False otherwise.**

In [5]:
def exp(expression):
  if eval(expression):
    return True
  else:
    return False
print(eval('1<2<3'))
print(eval('1<2>3'))

True
False

**78.Create a function that replaces all the vowels in a string with a specified character.**

In [6]:
def vowel_rep(string,char):
  vowels='AEIOUaeiou'
  for i in vowels:
    string=string.replace(i,char)
  print(string)

s='apple'
obj=vowel_rep(s,'$')

$ppl$

**79.Write a function that calculates the factorial of a number recursively.**

In [17]:
def factorial(n):
    if n == 0:
      return 1
    else:
      return n * factorial(n - 1)
print(factorial(5))

120

**80.Hamming distance is the number of characters that differ between two strings.**

In [21]:
s1=input('Enter s1: ')
s2=input('Enter s2: ')
distance=0
if len(s1)!=len(s2):
  print('Length of 2 strings must be same')
else:
  for i in range(len(s1)):
    if s1[i]!=s2[i]:
      distance+=1
print(distance)

Enter s1: abcde
Enter s2: bcdef
5

**81.Create a function that takes a list of non-negative integers and strings and return a new list without the strings.**

In [26]:
def check(l):
  k=[]
  for i in l:
    if isinstance(i,int) and i>=0:
      k.append(i)
  return k
li=[1,2,'a','b']
obj=check(li)
print(obj)

[1, 2]

**82.The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.**

In [27]:
st='jithen'
rev=st[::-1]
print(rev)

nehtij

**83.Create a function that takes a string and returns a string in which each character is repeated once.**

In [39]:
def rep(string):
  double_str=''
  for i in string:
    double_str+=i*2
  return double_str
string='jithen'
onj=rep(string)
print(onj)

jjiitthheenn

**84.Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.**

In [40]:
def val(value):
  if isinstance(value,bool):
    return not value
  else:
    return 'boolean expected'
print(val(True))

False

**85.Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.**

In [41]:
def thick(n):
  initial=0.5
  final_mm=initial*(2**n)
  final_m=final_mm/1000
  return final_m
num=1
obj=thick(num)
print(obj)

0.001

**86.Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.**

In [42]:
def filter(n):
  return [x for x in n if isinstance(x,int)]
num=['a',1,2,'b',3,'c']
obj=filter(num)
print(obj)

[1, 2, 3]

**87.Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.**

In [44]:
import math
def vol(h,r):
  if r==0:
    return 0
  else:
    volume=(1/3)*math.pi*(r**2)*h
    return volume
obj=vol(3,2)
print(obj)

12.566370614359172

**88.This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are:1, 3, 6, 10, 15 This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on. Write a function that gives the number of dots with its corresponding triangle number of the sequence.**

In [45]:
def triangle(n):
  if n < 1:
    return 0
  return n * (n + 1) // 2
print(triangle(6))

21

**89.Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.**

In [46]:
def missing(lst):
  total=sum(range(1,11))
  given=sum(lst)
  return total-given
l=[1,2,3,4,5,7,8,9,10]
print(missing(l))

6

**90.Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.**

In [47]:
def up(l,n):
  l.pop(0)
  l.append(n)
  print(l)
li=[1,2,3,4,5]
num=6
obj=up(li,num)

[2, 3, 4, 5, 6]

**91.Create the function that takes a list of dictionaries and returns the sum of people's budgets.**

In [52]:
def bed(l):
  total=sum(person['budget'] for person in l)
  return total
budgets1 = [
{'name': 'John', 'age': 21, 'budget': 23000},
{'name': 'Steve', 'age': 32, 'budget': 40000},
{'name': 'Martin', 'age': 16, 'budget': 2700}
]
obj=bed(budgets1)
print(obj)

65700

**92.Create a function that takes a string and returns a string with its letters in alphabetical order.**

In [54]:
def sor(s):
  s=sorted(s)
  print(''.join(s))
s1='jithen'
obj=sor(s1)

ehijnt

**93.Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period? Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.**

In [55]:
def compound_interest(p, t, r, n):
  a = p * (1 + (r / n)) ** (n * t)
  return round(a, 2)
compound_interest(10000, 10, 0.06, 12)

18193.97

**94.Write a function that takes a list of elements and returns only the integers.**

In [58]:
def ret(s):
  return [x for x in s if isinstance(x,int)]
l=['jithen',1,'shekar',2,3]
obj=ret(l)
print(obj)

[1, 2, 3]

**95.Create a function that takes three parameters where x is the start of the range (inclusive). y is the end of the range (inclusive).n is the divisor to be checked against.Return an ordered list with numbers in the range that are divisible by the third parameter n.**

In [64]:
def list_operation(x, y, n):
  return [num for num in range(x, y + 1) if num % n == 0]
list_operation(1, 10, 3)

[3, 6, 9]

**96.Create a function that takes in two lists and returns True if the second list follows the first list by one element, and False otherwise. In other words, determine if the second list is the first list shifted to the right by 1.**

In [65]:
def simon_says(list1, list2):
  return list1[:-1] == list2[1:]
simon_says([1, 2], [5, 1])

True

**97.A group of friends have decided to start a secret society. The name will be the first letter of each of their names, sorted in alphabetical order. Create a function that takes in a list of names and returns the name of the secret society.**

In [66]:
def soc(l):
  sec_name=''.join(name[0] for name in l)
  print(sec_name)
soc(["Adam", "Sarah", "Malcolm"])

ASM

**98.Create a function that takes a string and returns True or False, depending on whether the characters are in order or not.**

In [67]:
def is_in_order(s):
  return s == ''.join(sorted(s))
is_in_order("abc")

True

**99.Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.**

In [68]:
def is_symmetrical(num):
  num_str = str(num)
  return num_str == num_str[::-1]
is_symmetrical(7227)

True

**100.Given a string of numbers separated by a comma and space, return the product of the numbers.**

In [69]:
def multiply_nums(nums_str):
  nums = [int(num) for num in nums_str.split(", ")]
  result = 1
  for num in nums:
    result *= num
  return result
multiply_nums("2, 3")

6